.sponsor__container {
    max-width: 1090px;
    padding: 290px 30px 230px;
    margin: auto;
}

@media screen and (max-width: 767px) {
    .sponsor__container {
        padding: 150px 15px 150px;
    }
}

@media screen and (max-width: 520px) {
    .sponsor__container {
        padding: 100px 15px 100px;
    }
}


