.elite__container {
    max-width: 1090px;
    padding: 80px 30px 300px;
    margin: auto;
}

@media screen and (max-width: 1279px) {
    .elite__container {
        padding: 80px 30px 110px;
    }
}

@media screen and (max-width: 767px) {
    .elite__container {
        padding: 50px 15px 110px;
    }
}

@media screen and (max-width: 424px) {
    .elite__container {
        padding: 50px 15px 60px;
    }
}
