.table__grid-item {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 30px 5px;
}

.table__grid-item:first-child {
    background: #a3cc40;
    border-radius: 15px 0 0 0;
    font-family: 'Roboto-Black', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 25px;
}

.table__grid-item:nth-child(2) {
    grid-column: 2 / 4;
    background: #a3cc40;
    border-radius: 0 15px 0 0;
    font-family: 'Roboto-Black', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}

.table__grid-item:nth-child(3) {
    background: #373737;
}

.table__grid-item:nth-child(4) {
    background: #373737;
}

.table__grid-item:nth-child(5) {
    background: #373737;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.table__grid-item:nth-child(5) a:hover {
    -webkit-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    opacity: 0.7;
}

.table__grid-item:nth-child(6) {
    background: #4b4d4f;
}

.table__grid-item:nth-child(7) {
    background: #4b4d4f;
}

.table__grid-item:nth-child(8) {
    background: #4b4d4f;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.table__grid-item:nth-child(8) a:hover {
    -webkit-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    opacity: 0.7;
}

.table__grid-item:nth-child(9) {
    background: #373737;
}

.table__grid-item:nth-child(10) {
    background: #373737;
}

.table__grid-item:nth-child(11) {
    background: #373737;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.table__grid-item:nth-child(11) a:hover {
    -webkit-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    opacity: 0.7;
}

.table__grid-item:nth-child(12) {
    background: #4b4d4f;
    border-radius: 0 0 0 15px;
}

.table__grid-item:nth-child(13) {
    background: #4b4d4f;
}

.table__grid-item:nth-child(14) {
    background: #4b4d4f;
    border-radius: 0 0 15px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.table__grid-item:nth-child(14) a:hover {
    -webkit-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    .table__grid-item {
        padding: 5px 15px 5px;
        
    }
}

@media screen and (max-width: 374px) {
    .table__grid-item {
        padding: 5px 10px 5px;
        
    }
}
