.header__nav {
    font-family: 'Roboto-Thin', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media screen and (max-width: 920px) {
    .header__nav {
        padding-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .header__nav {
        display: none;
        position: absolute;
        top: 75px;
        right: 15px;
        left: 15px;
        z-index: 2;
        text-align: end;
    }
}


